@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.clip-path-decagon {
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    background-image: url("https://firebasestorage.googleapis.com/v0/b/francine-94efd.appspot.com/o/Francine%2FFrancine.jpg?alt=media&token=81c24081-9a91-41d5-a0c2-7cc5e274756e");
    /* background-size: cover; */
  }

  .box17 {
    box-shadow: 0 0 0 7px #ffd000,
                0 0 0 14px #ffdd00,
                0 0 0 21px #ffea00;
  }